html,
body {
  padding: 0;
  margin: 0;

}


.chakra-modal__content {
  background-color: black;
  /* border: 1px solid black; */
  max-width: 60% !important;
  /* height: 100%; */
}
.chakra-modal__body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* width: 20%; */
  /* flex: 1   */
  /* border: 1px solid black; */
}
.H-1 {
  font-size: 13px;
}
.H-2{
  font-size: 10px;
}
.H-3{
  font-size: 11px;
}
.H-4{
  font-size: 10px;
}

/* .css-0 .css-1dmrd5i{
  width: 130px;
  height: 120px;
  margin: 10px 0px;
  }
   */